/* Style pour le badge valide */
.badge-valid {
  background-color: #28a745; /* Vert */
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  text-align: center;
}

/* Style pour le badge expiré */
.badge-expired {
  background-color: #dc3545; /* Rouge */
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  text-align: center;
}
